<header>
  <h1>Freddie Pettersson</h1>
  <p>
    <em>Coffee, code, licorice and punkrawk!</em>
  </p>
</header>
<nav>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Contact", contact_path %>
    </li>
    <% if user_signed_in? %>
    <li>
      <%= gravatar_for current_user, :size => 30 %>
      <%= link_to current_user.email, edit_user_registration_path %>
    </li>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    </li>
    <% else %>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
    <% end %>
  </ul>
</nav>
